@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HeydingsControlsRegular';
  src: url('/src/fonts/heydings_controls-webfont.eot');
  src: url('/src/fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/heydings_controls-webfont.woff') format('woff'),
    url('/src/fonts/heydings_controls-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Khand Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Khand Regular'), url('/src/fonts/Khand-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Khand Light';
  font-style: normal;
  font-weight: normal;
  src: local('Khand Light'), url('/src/fonts/Khand-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Khand Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Khand Medium'), url('/src/fonts/Khand-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Khand SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Khand SemiBold'), url('/src/fonts/Khand-SemiBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Khand Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Khand Bold'), url('/src/fonts/Khand-Bold.woff') format('woff');
  }

:root {
  --border-width: 3px;
}

body, html {
  font-family: 'Khand Regular';
  background-color: #f7f7f9;;
}

nav li{
  font-family: 'Khand SemiBold';
}
nav a[type=button]:first-child span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
nav a[type=button]:first-child span::after{
  content: '\266B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
nav a[type=button]:first-child:hover span {
  padding-right: 25px;
}

nav a[type=button]:first-child:hover span::after{
  opacity: 1;
  right: 0;
}

html .marquee img.secondimage{
  filter: invert(90%) sepia(5%) saturate(790%) hue-rotate(202deg) brightness(110%) contrast(94%);
}
html.dark .marquee img.secondimage{
  filter: none;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: 0.75s linear infinite spinner-grow;
  animation: 0.75s linear infinite spinner-grow;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@media (prefers-reduced-motion: reduce) {

  .spinner-border,
  .spinner-grow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 10s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* video */







#content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; */
}

#show-img {
  z-index: 45;
  height: 50%;
  width: auto;
  margin-top: 100px;
}
@media only screen and (max-width: 600px) {
  #show-img {
    height: auto;
}
#play {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  z-index: 45;
  margin-top: 20px;
  outline: none;
}

#play:hover {
  cursor: pointer;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

audio {
  position: absolute;
  left: 50%;
  bottom: 30%;
  width: calc(50% - 20px);
  transform: translate(-50%, 30%);
}
.marquee{
  overflow: hidden;
}

.marquee img{
  left: 0;
  top: 0;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 30s linear infinite;
}

.marquee:hover img {
  animation-play-state: paused;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.draw-border {
 
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
.draw-border:hover {
  color: #ea970c;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ea970c;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}